<h1>BURGERS!</h1>

<h2>WOULD YOU LIKE A BURGER?</h2>

<ul>
  {{#each burgers}}
    
  {{/each}}
</ul>

<h2 id="devourcolor">DEVOURED BURGERS!</h2>

<ul>
  {{#each burgers}}
    
  {{/each}}
</ul>

<h2>Add a Burger!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="burger_name">
  </div>

  <button type="submit">Add Burger</button>
</form>